<h1>Edit the Volunteer</h1>


<% if @volunteer.errors.any? %>
  <div class="form-errors">
  <h4 class = "error"><%= pluralize(@volunteer.errors.count, "error") %> stopped you from updating this volunteer:</h4>
      <% @volunteer.errors.full_messages.each do |msg| %>
      <ul class = "error"><li><%= msg %></li></ul>
      <% end %>
      </div>
      <%end%>


<%= form_for @volunteer, method: :patch do |f| %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>
<br>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<br>
<%= f.label :email %>
<%= f.email_field :email %>
<br>
<%= f.label :organization %>
<%= f.text_field :organization %>
<br>
<%= f.label :sector %>
<%= f.select :sector, [[], ['Government'], ['Industry'], ['Academia']] %>
<br>
<%= f.label :active? %>
<%= f.check_box :active_status  %>
<br>
<%= f.hidden_field :user_id, :value => current_user.id %>
<br>

<br>
<%= f.submit %>
<br>
<% end %>
