<h1>All Volunteers</h1>
<% Volunteer.all.each do |volunteer| %>
 <%= volunteer.last_name %> <%= volunteer.first_name %> <%= link_to '[View]', volunteer %> <%= link_to '[Edit]', edit_volunteer_path(volunteer) %> <%= link_to '[Delete]', volunteer, method: :delete, data: { confirm: 'Really?' } %> <br>
  <br>
<% end %>
