
<div class="jumbotron text-center">
<h1>All Volunteers</h1>
</div>
<br>
<%= link_to 'Add a Volunteer', new_volunteer_path %>
<br> <br>  <br>

<div>
  <h3>Filter by group: <%= @group.name if @group %></h3>
  <%= form_tag("/volunteers", method: "get") do %>
    <%= select_tag "group", options_from_collection_for_select(Group.all, "id", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<br><br>

<% @volunteers.uniq.sort_by(&:last_name).each do |volunteer| %>
 <%= volunteer.last_name %>, <%= volunteer.first_name %> <%= link_to '[View]', volunteer %><%if current_user.admin? %> <%= link_to '[Edit]', edit_volunteer_path(volunteer) %> <%= link_to '[Delete]', volunteer_path(volunteer), method: :delete, data: { confirm: "Really?" }  %> <% end %> <br>
  <br>
<% end %>
