<h1> Volunteer Profile: </h1>

Name:  <%= @volunteer.first_name %> <%= @volunteer.last_name %><br>
Email:  <%= mail_to(@volunteer.email) %><br>
Organization:  <%= @volunteer.organization %><br>
Sector:  <%= @volunteer.sector %><br>
Status:  <%= "Active" if @volunteer.active_status == true %><br>
<br>
<%= link_to 'Edit Volunteer', edit_volunteer_path %>
