<h1> Volunteer Profile: </h1>

Name:  <%= @volunteer.first_name %> <%= @volunteer.last_name %><br>
Email:  <%= mail_to(@volunteer.email) %><br>
Organization:  <%= @volunteer.organization %><br>
Sector:  <%= @volunteer.sector %><br>
Status:  <%= "Active" if @volunteer.active_status == true %><br>
<%= link_to 'Edit Volunteer Details', edit_volunteer_path(@volunteer) %>
<br><br>
<p>Groups:</p>
<ul>
<% @volunteer.groups.each do |group| %>
<li><%= link_to group.name, group_path(group) %></li>
<% end %>
</ul>

Statements of Expertise:<br>

<% GroupVolunteer.all.each do |gv| %>

<% @group = Group.find(gv.group_id) %>
<%= @group.name %><br>
<%= gv.statement %>
<% end %>


<br>

<%= button_to "Delete Volunteer", volunteer_path(@volunteer), method: :delete, data: { confirm: "Really?" } %>
