<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card p-4 shadow-lg" style="min-width: 350px; background: #20232a; color: #fff;">
    <div class="card-body">
      <h1 class="mb-4 text-center" style="color:#6379e6;">Login to Volunteer Manager</h1>
      <% if flash[:error] %>
        <div class="alert alert-danger text-center">
          <%= flash[:error] %>
          <br>
          <%= link_to 'Sign Up', signup_path, class: "alert-link" %>
        </div>
      <% end %>

      <%= form_for :user do |f| %>
        <div class="mb-3">
          <%= f.label :username, nil, class: "form-label" %>
          <%= f.text_field :username, class: "form-control", autofocus: true %>
        </div>
        <div class="mb-3">
          <%= f.label :password, nil, class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="d-grid gap-2">
          <%= f.submit 'Login', class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <div class="text-center mt-3">
        <p class="small text-light">Don't have an account?
          <%= link_to 'Sign Up', signup_path, class: "text-info" %>
        </p>
      </div>
    </div>
  </div>
</div>
