<% if !logged_in? %>
<br><br><br><br>
<center>

  <%= image_tag("logo.png") %>
<% end %>
<br>
<br>
<div class="jumbotron text-center">
<h1> Welcome to Association Volunteer Manager </h1>
</div>

<% if flash[:alert] %>
<div class="alert alert-info"><%= flash[:alert] %></div>
<% end %>

  <p>
  <% if logged_in? %>
    Hi, <%= current_user.first_name %>.  What would you like to do?
 <% end %>
  </p>
<% if !logged_in? %>

<center>
  <h4>  <%= link_to "Login", login_path %>  or  <%= link_to "Signup", signup_path %>  </h4>

    <br><br>


<script>
    function guest(){
      alert("Here for a demo? Use login 'guest' password 'guest', or signup!")
    }
    setTimeout(guest, 1500)
</script>


</center>
  <%else%>


  <ul>
    <li><%= link_to 'Add a Volunteer', new_volunteer_path %></li>
    <li><%= link_to 'View All Volunteers', volunteers_path %></li>
    <li><%= link_to 'Create a Group', new_group_path %></li>
    <li><%= link_to 'View All Groups', groups_path %></li>
    <li><%= link_to 'View All Statements of Expertise', group_volunteers_path %></li>
    <li><%= link_to 'View / Edit System Users', users_path %></li>
  </ul>

<%end%>
