<h1> Welcome to Volunteer Manager </h1>
  <p>

  <% if logged_in? %>
    Hi, <%= @user.first_name %>.  What would you like to do?
 <% end %>
  </p>
<% if !logged_in? %>
    <%= link_to "Login", login_path %>
    OR
    <%= link_to "Signup", signup_path %>
  </p>
  <%else%>
  <p><%= link_to 'Add a Volunteer', new_volunteer_path %></p>
  <p><%= link_to 'Show All Volunteers', volunteers_path %></p>
  <p><%= link_to 'Add a Group', new_group_path %></p>
  <p><%= link_to 'Show All Groups', groups_path %></p>


<%end%>
