<br><br>
<div class="container-fluid"><div class ="row">
<div class="col-md-4"><br><h1 class="font-italic">Statements of Expertise</h1></div>
  <div class="col-md-4 col-md-offset-5"><h4>Filter by group: <%= @group.name if @group %></h4>

    <%= form_tag("/group_volunteers", method: "get") do %>
      <%= select_tag "group", options_from_collection_for_select(Group.all.sort_by(&:name), "id", "name"), include_blank: true, class: "form-control" %>
      <br>
      <%= submit_tag "Filter", class: "btn btn-info" %>
    <% end %>

</div>
<div class="col-md-4"><h4>Filter by volunteer: <%= @volunteer.full_name if @volunteer %></h4>
  <%= form_tag("/group_volunteers", method: "get") do %>
    <%= select_tag "volunteer", options_from_collection_for_select(Volunteer.all.sort_by(&:last_name), "id", "full_name"), include_blank: true, class: "form-control" %>
  <br>
  <%= submit_tag "Filter", class: "btn btn-info" %>
    <% end %>
</div></div></div>
<% if flash[:alert] %>
<div class="alert alert-info"><%= flash[:alert] %></div>
<% end %>
<% @group_volunteers_statements.each do |gv| %>
<%   volunteer = Volunteer.find(gv.volunteer_id) %>
<%   group = Group.find(gv.group_id) %>
<%   statement = gv.statement %>
<br><br>

<% if statement != "" %>
<div class="card">
  <div class="card-header">
    <h4><%= volunteer.first_name %> <%= volunteer.last_name %>, <%= volunteer.organization %>  </h4>
<h5 class="card-title">Statement of Expertise for: <%= group.name %></h5>
    <small><%= link_to "Edit", edit_group_volunteer_path(gv), volunteer_id: volunteer.id, statement: statement %> or <%= link_to "Delete", delete_statement_group_volunteer_path(gv), data: { confirm: "Are you sure?" }  %> this statement of expertise. </small><br>
  </div>
  <div class="card-body">
    <p class="card-text"><%= statement %></p>
    <%= link_to "View Volunteer Profile", volunteer_path(volunteer), class: "btn btn-primary" %>   <%= link_to "View Group", group_path(group), class: "btn btn-primary" %>
  </div>
</div>
<% end %>
<% end %>
