<% @group_volunteers_statements.each do |gv| %>
<%   @volunteer = Volunteer.find(gv.volunteer_id) %>
<%    @group = Group.find(gv.group_id) %>
<%    @statement = gv.statement %>
<br>
<% if @statement != "" %>
<h4><%= @volunteer.full_name %></h4>
<%= @group.name %> <br>
<small><%= link_to "Edit", edit_group_volunteer_path(gv), volunteer_id: @volunteer.id %> or <%= link_to "Delete", delete_statement_group_volunteer_path(gv) %> </small><br>

<%= @statement %> <br>
<% end %>
<% end %>
