<h1>Edit <%= @group.name %> </h1>

<%= form_for @group do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :parent_program %>
<%= f.text_field :program_name %>
<br>
<% if !Volunteer.all == [] %>
  <%= f.label :chair_name %>
  <%= f.collection_select :volunteer_id, Volunteer.all, :id %>
<% end %>
<br>
<%= f.label :active? %>
<%= f.check_box :status  %>
<br>
<%= f.hidden_field :user_id, :value => current_user.id %>
<br>
<%= f.submit %>
<br>
<% end %>
