<div class="jumbotron text-center">
  <h1>Active Groups</h1>
  </div>
<br>
<%= link_to 'Add a Group', new_group_path %>
<br> <br>  <br>
<% Group.all.sort_by(&:name).each do |group| %>
 <% if group.active? %>
  <%= group.program_name %> <%= group.name %> <%= link_to '[View]', group %> <%= link_to '[Edit]', edit_group_path(group) %><br>
 <% end %>
<% end %>

  <br>
  <div class="jumbotron text-center">
  <h4>Inactive Groups</h4><br>
  </div>
  <% Group.all.sort_by(&:name).each do |group| %>
  <% if !group.active? %>
   <%= group.program_name %> <%= group.name %> <%= link_to '[View]', group %> <%= link_to '[Edit]', edit_group_path(group) %><br>
  <% end %>
<% end %>
