<div class="jumbotron text-center">
  <h1><%= @group.name %></h1>
</div>
<p>Program:  <%= @group.program_name %></p>
<p>Chairperson:  <%= @group.chair_first %> <%= @group.chair_last %> </p>
<p>Status:  <%= "Active" if @group.status == true %></p>
<br>
Group Members:
<br><br>
<ul>
<% @group.volunteers.uniq.each do |member| %>
<li><%= link_to member.full_name, volunteer_path(member) %></li>
<% end  %>
</ul>
<br>




<%= link_to 'Add Volunteer to Group', new_volunteer_path(@group) %>
<br><br>
<%= link_to 'Edit Group Details', edit_group_path(@group) %>
<br><br>
<%= link_to("Delete This Group", group_path, method: :delete) %>
