<div class="jumbotron text-center">
  <h1><%= @group.name %></h1>
</div>
<p>Program:  <%= @group.program_name %></p>
<p>Chairperson:  <%= @group.chair_first %> <%= @group.chair_last %> </p>
<p>Status:  <%= "Active" if @group.status == true %></p>
<br>
Group Members:
<br><br>
<ul>
<% @group.volunteers.uniq.each do |member| %>
<li><%= link_to member.full_name, volunteer_path(member) %></li>
<% end  %>
</ul>
<br>
<div class="jumbotron text-center">
<center>
  <table style="width:75%">
  <tr>
    <th>Add Existing Volunteer to Group</th>
    <th>Add New Volunteer to Group</th>
  </tr>
  <tr><td>
<%= form_for @group do |f| %>

<%= f.collection_select(:volunteer_ids, Volunteer.all, :id, :full_name, {:include_blank => true} ) %><br><br><br><br>
<%= f.submit "Add" %>
<%end%>
  </td>

   <td>

<%= form_for @group do |f| %>
<%= f.fields_for :volunteers, @group.volunteers.build do |volunteers_fields| %>
<%= f.label "First Name" %>
   <%= volunteers_fields.text_field :first_name %><br>
<%= f.label "Last Name" %>
   <%= volunteers_fields.text_field :last_name %><br>
<%= f.label "Email" %>
   <%= volunteers_fields.email_field :email %><br>
 <%= f.label :organization %>
   <%= volunteers_fields.text_field :organization %><br>
 <%= f.label :sector %>
   <%= volunteers_fields.select :sector, [[], ['Government'], ['Industry'], ['Academia']] %><br>
 <%= f.label :active? %>
   <%= volunteers_fields.check_box :active_status %><br>
 <%= f.hidden_field :user_id, :value => current_user.id %>
   <br>
  <%= f.submit "Add"%>
<% end %>
<% end %>
</td></tr></table></center></div>
<br><br>
<%= link_to 'Edit Group Details', edit_group_path(@group) %>
<br><br>
<%= link_to("Delete This Group", group_path, method: :delete) %>
