<div class="jumbotron text-center">

  <h1><%= @group.name %></h1>
    <% if current_user.admin? %>
    <%= link_to "EDIT", edit_group_path(@group) %>
    <% end %>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Chairperson:  <%= @group.chair_first %> <%= @group.chair_last %></h5>
        <p class="card-text">Group Type: <%= @group.kind %></p>
        <p class="card-text">Program:  <%= @group.program_name %></p>
        <p class="card-text">Status:  <%= "Active" if @group.status == true %><%= "Inactive" if @group.status == false %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%= image_tag("/assets/email.png", :size => "100x100", alt: "Email Group")%></h5>
        <p class="card-text"><%= mail_to @emails.uniq * ",", 'Email This Group' %></p>

      </div>
    </div>
  </div>
</div>
<br><br>

Group Members:
<br><br>
<ul>
<% @group.volunteers.uniq.sort_by(&:last_name).each do |member| %>

<li><%= link_to member.full_name, volunteer_path(member) %>
  <%= button_to "Remove From Group", remove_from_group_group_volunteer_path(@group, member), class: "btn btn-primary btn-sm", method: :delete%> </li><br>

<% end  %>
</ul>
<br>
<div class="jumbotron text-center">
<center>
  <table style="width:75%">
  <tr>
    <th><p>Quick Add Existing Volunteer to Group</p></th>
    <th><p>Add New Volunteer to Group</p></th>

  </tr>
  <tr><td>

<%= form_for(@group, url: {action: "update_two"}, method: :patch) do |f| %>

<%= f.collection_select(:volunteer_ids, @volunteers, :id, :full_name, :include_blank => true, :selected => "") %><br><br><br><br>
<%= f.submit "Add" %>
<%end%>
  </td>

   <td>

<%= form_for @group do |f| %>
<%= f.fields_for :volunteers, @group.volunteers.build do |volunteers_fields| %>
<%= f.label "First Name" %>
   <%= volunteers_fields.text_field :first_name %><br>
<%= f.label "Last Name" %>
   <%= volunteers_fields.text_field :last_name %><br>
<%= f.label "Email" %>
   <%= volunteers_fields.email_field :email %><br>
 <%= f.label :organization %>
   <%= volunteers_fields.text_field :organization %><br>
 <%= f.label :sector %>
   <%= volunteers_fields.select :sector, [[], ['Government'], ['Industry'], ['Academia']] %><br>
 <%= f.label :active? %>
   <%= volunteers_fields.check_box :active_status, checked: true  %><br>
 <%= f.hidden_field :user_id, :value => current_user.id %>
   <br>
  <%= f.submit "Add"%>
<% end %>
<% end %>
</td></tr></table></center></div>

<br><br>
<% if current_user.admin? %>
<center>  <%= button_to "Delete Group", group_path(@group), class: "btn btn-danger", method: :delete, data: { confirm: "Really?" } %> </center>
<% end %>
