
<div class="jumbotron text-center">
<%if @user.avatar.attached? %>
  <%= image_tag(@user.avatar, :size => "200x200", alt: "avatar") %>
<% end %>
  <h1>User Profile: <%= @user.first_name %> </h1>
  <%= link_to "EDIT", edit_user_path %>

  </div>

<ul>
<li>Name: <%= @user.full_name %></li>
<li>Email: <%= @user.email %></li>
<li>Username: <%= @user.username %></li>
<li>System Admin? <%= "Yes" if @user.admin? %> <%= "No" if !@user.admin %></li>
</ul>


<% if current_user.admin? %>
<center>
<%= button_to "Delete User", user_path(@user), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure? This is permanent!" } %><br>

</center>
<% end %>
