<div class="jumbotron text-center">
  <h1>User Profile: <%= @user.first_name %> </h1>
  <% if current_user.admin? %>
  <%= link_to "EDIT", edit_user_path %>
  <% end %>
  </div>

<ul>
<li>Name: <%= @user.full_name %></li>
<li>Email: <%= @user.email %></li>
<li>Username: <%= @user.username %></li>
<li>System Admin? <%= @user.admin? %></li>
</ul>
