<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Volunteer Manager" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Volunteer Manager" %>">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="assets/stylesheets/custom.scss">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
 
  </head>

  <body>

    <header>
    <%= render 'layouts/navigation' %>

    </header>

<main role="main" class="container d-flex flex-column align-items-center justify-content-center py-5">
  <%= yield %>
</main>


<% if logged_in? %>
<br>
Logged In as <%= link_to current_user.username, user_path(current_user.id) %>
<% end %>

<br><br><br>
<div class="footer-copyright text-right py-3">

        <small>&copy; 2020 <strong>Christopher Dent</strong></small>
      </div>

  </body>
</html>
