<!DOCTYPE html>
<html>
  <head>
    <title>VolunteerManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <div>

    </div>

  <body>
    <%= link_to " |Home| ", '/' %>
    <% if logged_in? %>
      <%= link_to " |View All Volunteers| ", volunteers_path %>
      <%= link_to " |Log out| ", logout_path %>
      <% end %>
    <%= yield %>


  </body>
</html>
